# Smart Irrigation Backend Secrets
JWT_SECRET_KEY=super_secret_jwt_key_here
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=example@gmail.com
SMTP_APP_PASSWORD=16 letter SMTP_APP_PASSWORD
FRONTEND_URL=http://127.0.0.1:8000
