# Smart Irrigation Backend Secrets
JWT_SECRET_KEY=super_secret_jwt_key_here
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=sachinshadaksharappa@gmail.com
SMTP_APP_PASSWORD=zcoejejsdtwpknyx
FRONTEND_URL=http://127.0.0.1:8000
